@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2')
        format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PFStardust';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: Noto Sans KR;
    font-weight: bold;
    background-image: url('/assets/images/red_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.signIn {
    font-family: PartialSansKR-Regular;
    -webkit-text-stroke: 1px black;
}

.flan {
    font-family: PartialSansKR-Regular;
}

.sub {
    font-family: PartialSansKR-Regular;
}
